############################
# OS X
############################

.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*


############################
# Linux
############################

*~


############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3


############################
# Misc.
############################

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep
.DS_Store
*.pem

############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
.node_history
package-lock.json

############################
# Dependencies
############################
node_modules
.pnp
.pnp.js

############################
# Tests
############################

testApp
coverage

############################
# Strapi
############################

license.txt
exports
*.cache
build
.strapi-updater.json

############################
# NextJS
############################
.next/
out/
.swc/

############################
# Debug
############################
npm-debug.log*
yarn-debug.log*
yarn-error.log*

############################
# Envs
############################
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# ui
dist/

#codegen
codegen-outputs

#mesh
.mesh
# Local Netlify folder
.netlify
